<!DOCTYPE html>
<html>
<head>
  <title>お気に入り</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="side">
  <% layout('layout') -%>
</div>
<h1>お気に入り</h1>


<div style="margin: 30px">
  <form method="post" action="/favorite/reply">
    <input type="submit" value="リプライを送る">
  </form>
</div>


<div style="float: left">
  <table border="1">
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th>曜日</th>
      <th>お気に入り</th>
      <th>放送局</th>
    </tr>
    <% data.forEach(function(val){ %>
      <tr>
        <td id="<%= val.title %>" onclick="createHash(this);"><%= val.title %></td>
        <td><%= val.time %></td>
        <td><%= val.week %></td>
        <form method="post" action="/favorite/delete">
          <td class="center"><input type="submit" value="削除"></td>
          <input type="hidden" value="<%= val.title %>" name ="title"/>
          <input type="hidden" value="<%= profile.id %>" name ="user_id"/>
        </form>
        <td><%= val.station %></td>
      </tr>
    <% }) %>
  </table>
</div>

<!--Tweet表示部分-->
<div id="twitter" style="margin-left: 20px">
  <a class="twitter-timeline" href="https://twitter.com/nekokonekonene" data-widget-id="535407375339884546">@nekokonekoneneさんのツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</body>
</html>
