<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- header scripts -->
</head>
<body>

<header >

  <!--<div style="float: left">-->
  <div style="float:left; margin-right: 30px;z-index: 1">
    <img src=" <%= profile.profile_image_url  %> " width="100px"/>
    <h1><%= profile.name %></h1>
    <h3>@<%= profile.screen_name %></h3>
    <p><a href="/auth/logout">logout</a></p>
  </div>

</header>

<%- body %>

<!--<footer>Copyright hoge</footer>-->
<!-- footer scripts -->
</body>
</html>
