<!DOCTYPE html>
<html>
  <head>
    <title>ホーム</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      function createHash(e) {
        var id = e.id;
        var text = $('#tweet').val();
        var addHash = text + ' #' + id;
        $('#tweet').val(addHash);
      }
    </script>
  </head>

  <body>
    <div id="side">
      <% layout('layout') -%>
    </div>

    <div class="animeTable">
    <table class="animeList">
      <thead>
      <tr>
        <th>タイトル</th>
        <th>時間</th>
        <th>次回</th>
        <th>曜日</th>
        <th>お気に入り</th>
        <th>放送局</th>
      </tr>
      </thead>
      <tbody>
        <% data.forEach(function(val){ %>
          <tr>
            <td id="<%= val.title %>" onclick="createHash(this);">
              <p style="display: inline"><%= val.title %></p>
              <% if(val.today == 1) { %>
                <p class="today">(本日放送)</p>
              <% } %>
            </td>
            <td><%= val.time %></td>
            <td><%= val.next %></td>
            <td><%= val.week %></td>
            <% if(val.favorite) { %>
              <td class="center"><input type="submit" value="登録済" class="favoriteBtn" disabled></td>
            <% } else { %>
              <form method="post" action="/favorite/register">
                <td class="center"><input type="submit" value="追加" class="btn"></td>
                <input type="hidden" value="<%= val.title %>" name ="title"/>
                <input type="hidden" value="<%= profile.id %>" name ="user_id"/>
                <input type="hidden" value="<%= val.time %>" name ="time"/>
                <input type="hidden" value="<%= val.week %>" name ="week"/>
                <input type="hidden" value="<%= val.station %>" name ="station"/>
              </form>
            <% } %>
            <td><%= val.station %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    </div>

    <!--Tweet表示部分-->
    <div id="twitter">
      <form method="post" action="/twitter/post">
        <textarea name="tweet" id="tweet" rows="4" cols="33"></textarea>
        <input type="submit" value="tweet" class="tweetbtn">
      </form>

      <div class="scroll">
        <table class="tweetArea">
          <tr style="height: 20px;">
            <th class="header"></th>
          </tr>

          <% tweetList.forEach(function(tweet){ %>
            <tr>
              <td class="tweet">
                <div class="tweetblock">
                <div class="profile">
                  <div class="image">
                    <img src=" <%= profile.profile_image_url  %> " width="30px; "/>
                  </div>
                  <div class="screen_name">
                    <!--<p class="inner"><%= profile.name %></p>-->
                    <%= profile.name %>
                  </div>
                </div>
                <div class="tweetText">
                  <%= tweet.text %>
                </div>
                  </div>
              </td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </body>
</html>



