<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/auth/logout">logout</a></p>

    <div style="float: left">
    <table border="1">
      <tr>
        <th>タイトル</th>
        <th>時間</th>
        <th>次回</th>
        <th>曜日</th>
        <th>本日放送</th>
        <th>状態</th>
        <th>放送局</th>
        <th>全何話</th>
      </tr>
        <% data.forEach(function(val){ %>
          <tr>
            <td><%= val.title %></td>
            <td><%= val.time %></td>
            <td><%= val.next %></td>
            <td><%= val.week %></td>
            <% if(val.today == 1) { %>
            <td>本日放送</td>
            <% } else { %>
            <td></td>
            <% } %>
            <% if(val.state == 'onair') { %>
              <td>放送中</td>
            <% } else { %>
              <td>放送中</td>
            <% } %>
            <td><%= val.station %></td>



            <td><%= val.episode %></td>

          </tr>
        <% }) %>
    </table>
    </div>

    <form method="post" action="/post">
      <textarea name="tweet" rows="4" cols="40"></textarea>
      <input type="submit" value="tweet!">
    </form>

    <!--Tweet表示部分-->
    <div style="float: left; width: 200px">

      <a class="twitter-timeline" href="https://twitter.com/nekokonekonene" data-widget-id="535407375339884546">@nekokonekoneneさんのツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>


  </body>
</html>
