<!DOCTYPE html>
<html>
  <head>
    <title>ホーム</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      function createHash(e) {
        var id = e.id;
        var text = $('#tweet').val();
        var addHash = text + ' #' + id;
        $('#tweet').val(addHash);
      }
    </script>
  </head>
  <body>
    <div id="side">
      <% layout('layout') -%>
    </div>
    <div style="float: left">
    <table border="1">
      <tr>
        <th>タイトル</th>
        <th>時間</th>
        <th>次回</th>
        <th>曜日</th>
        <th>本日</th>
        <th>お気に入り</th>
        <th>放送局</th>
      </tr>
        <% data.forEach(function(val){ %>
          <tr>
            <td id="<%= val.title %>" onclick="createHash(this);"><%= val.title %></td>
            <td><%= val.time %></td>
            <td><%= val.next %></td>
            <td><%= val.week %></td>
            <% if(val.today == 1) { %>
            <td class="center">◯</td>
            <% } else { %>
            <td></td>
            <% } %>
            <% if(val.favorite) { %>
              <td class="center">◯</td>
            <% } else { %>
              <form method="post" action="/favorite/register">
                <td class="center"><input type="submit" value="追加"></td>
                <input type="hidden" value="<%= val.title %>" name ="title"/>
                <input type="hidden" value="<%= profile.id %>" name ="user_id"/>
                <input type="hidden" value="<%= val.time %>" name ="time"/>
                <input type="hidden" value="<%= val.week %>" name ="week"/>
                <input type="hidden" value="<%= val.station %>" name ="station"/>
              </form>
            <% } %>
            <td><%= val.station %></td>
          </tr>
        <% }) %>
    </table>
    </div>

    <!--Tweet表示部分-->
    <div id="twitter">
      <form method="post" action="/twitter/post">
        <textarea name="tweet" id="tweet" rows="4" cols="33"></textarea>
        <input type="submit" value="tweet!">
      </form>



      <table class="tweetArea" >
        <tr>
          <th>Tweet</th>
        </tr>
        <div class="scroll">
          <% tweetList.forEach(function(tweet){ %>
            <tr>
              <td class="tweet"><%= tweet.text %></td>

            </tr>
        <% }) %>
          </div>

      </table>

      <!--<a class="twitter-timeline" href="https://twitter.com/nekokonekonene" data-widget-id="535407375339884546">@nekokonekoneneさんのツイート</a>-->
      <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
    </div>
  </body>
</html>



