<!DOCTYPE html>
<html>
  <head>
    <title>RANKING</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>

    <div id="side">
      <% layout('layout') -%>
    </div>

    <div class="rankingTable">
      <table class="rankingList">
        <thead>
          <tr>
            <th>順位</th>
            <th>タイトル</th>
            <th>登録数</th>
          </tr>
        </thead>
        <tbody>
          <% ranking.forEach(function(val){ %>
            <tr>
              <td><%= val.rank %></td>
              <td><%= val.title %></td>
              <td><p style="display: inline"><%= val.count %></p><p class="today">user</p></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <!--Tweet表示部分-->
    <div id="twitter">
      <form method="post" action="/twitter/post">
        <textarea name="tweet" id="tweet" rows="4" cols="33"></textarea>
        <input type="submit" value="tweet" class="tweetbtn">
      </form>

      <div class="scroll">
        <table class="tweetArea">
          <tr style="height: 20px;">
            <th class="header"></th>
          </tr>

          <% tweetList.forEach(function(tweet){ %>
          <tr>
            <td class="tweet">
              <div class="tweetblock">
                <div class="profile">
                  <div class="image">
                    <img src=" <%= profile.profile_image_url  %> " width="30px; "/>
                  </div>
                  <div class="screen_name">
                    <%= profile.name %>
                  </div>
                </div>
                <div class="tweetText">
                  <%= tweet.text %>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>

  </body>
</html>
